/* ---Reset--- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif;
}

/* ---Reset--- */

/* ---Body--- */

body {}

/* ---Body--- */

/* ---Background--- */

.bg {
    width: 100vw;
    height: 275vh;
}

/* ---Background--- */

/* ---Headings--- */

h1 {
    font-size: 4rem;
    color: rgb(26, 1, 45);
    transition: 0.1s ease-in-out;
}

h1:hover {
    font-size: 4.2rem;
    color: rgb(86, 0, 151);
    cursor: default;
}

h3 {
    font-size: 4rem;
    color: rgb(239, 163, 0);
}

h4 {
    font-size: 2.5rem;
    color: rgb(239, 163, 0);
}

/* ---Headings--- */

/* ---Text--- */

strong {
    color: rgb(239, 163, 0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ---Text--- */

/* ---Containers--- */

.heading {
    width: 50vw;
    color: rgb(239, 163, 0);
    border: .5rem solid rgba(41, 0, 72, 0.8);
    background-color: rgba(66, 45, 0, 0.8);
    box-shadow: 0 0 0 1rem rgba(66, 45, 0, 0.8);
}

.container {
    width: 75vw;
    color: rgb(198, 135, 0);
    border: .5rem solid rgb(41, 0, 72);
    background-color: rgba(66, 45, 0, 0.8);
    box-shadow: 0 0 0 1rem rgba(66, 45, 0, 0.8);
    font-size: 2rem;
}

.heading,
.container {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container a,
img {
    color: rgb(198, 135, 0);
    transition: 0.1s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
}

.container a:hover {
    color: rgb(239, 163, 0);
    font-size: 2.5rem;
}

.container a:hover img {
    height: 9rem;
}

/* ---Containers--- */

/* ---NavBar--- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

nav>* {
    text-align: center;
}

nav>a {
    font-size: 1.2rem;
    font-family: 'Tomorrow', sans-serif;
    color: rgb(41, 0, 72);
    transition: 0.1s ease-in-out;
    width: 25%;
}

nav>a:hover {
    font-size: 1.3rem;
    color: rgb(86, 0, 151);
}

/* ---NavBar--- */

/* ---HomePage--- */

#mainBg {
    background-image: url('./assets/img/dunes.png');
    background-size: cover;
}

#monkeyBox {
    padding-top: 2rem;
}

#greetingBox {
    background-color: rgb(66, 45, 0);
    box-shadow: 0 0 0 1rem rgb(66, 45, 0);
}

#skillsBoxContainer {
    margin-top: 102vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 5rem;
}

#contactSection {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#contactLinkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30rem;
}

.contactRow {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

#skillList {
    display: flex;
    width: 125vw;
}

#skillList>div {
    width: 50%;
    height: 50%;
}

#skillList li {
    font-size: 1.5rem;
}

#bottomMonkeys {
    display: flex;
    justify-content: space-between;
}

#monkey3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .7248rem;
}

#monkey3>* {
    height: 7.9rem;
}

.penguin {
    width: 15rem;
}

#penguin1 {
    margin-left: 4rem;
}

#penguin2 {
    margin-left: 2rem;
}

#scrollDown {
    font-size: larger;
    color: rgb(41, 0, 72);
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

#downArrow {
    -webkit-animation: float 1s ease-in-out infinite alternate;
    -moz-animation: float 1s ease-in-out infinite alternate;
    animation: float 1s ease-in-out infinite alternate;
}

#downArrow:hover {
    cursor: pointer;
}

#showFalse {
    transition: 0.1s ease-in-out;
    transform: translateY(0vh);
    opacity: 0;
}

@keyframes float {
    from {
        -webkit-filter: drop-shadow(0 0 2rem rgb(71, 49, 0));
        filter: drop-shadow(0 0 2rem rgb(71, 49, 0));
        height: 5.5rem;
    }

    to {
        -webkit-filter: drop-shadow(0 0 1rem rgb(71, 49, 0));
        filter: drop-shadow(0 0 1rem rgb(71, 49, 0));
        height: 5rem;
    }
}

/* ---HomePage--- */
/* ---Media Queries--- */

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 1.7rem;
    }

    nav>a {
        font-size: 0.75rem;
    }

    .heading * {
        font-size: 1.6rem;
    }

    #greetingBox {
        font-size: 1.5rem;
    }

    #monkey3>* {
        width: 10rem;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    :root {
        font-size: 16px;
    }

    #greetingBox {
        font-size: 2.85rem;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

@media only screen and (min-width: 1201px) {}

/* ---Media Queries--- */